/*не надо*/
@font-face {
	font-family: "FontAwesome";
	src: url("./font/fontawesome-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/*не надо*/

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-Regular.eot");
	src: local("Geometria Regular"), local("Geometria-Regular"), url("./font/Geometria-Regular.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-Regular.woff2") format("woff2"), url("./font/Geometria-Regular.woff") format("woff"), url("./font/Geometria-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-Italic.eot");
	src: local("Geometria Italic"), local("Geometria-Italic"), url("./font/Geometria-Italic.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-Italic.woff2") format("woff2"), url("./font/Geometria-Italic.woff") format("woff"), url("./font/Geometria-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-ExtraBoldItalic.eot");
	src: local("Geometria ExtraBold Italic"), local("Geometria-ExtraBoldItalic"), url("./font/Geometria-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-ExtraBoldItalic.woff2") format("woff2"), url("./font/Geometria-ExtraBoldItalic.woff") format("woff"), url("./font/Geometria-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-ExtraLightItalic.eot");
	src: local("Geometria ExtraLight Italic"), local("Geometria-ExtraLightItalic"), url("./font/Geometria-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-ExtraLightItalic.woff2") format("woff2"), url("./font/Geometria-ExtraLightItalic.woff") format("woff"), url("./font/Geometria-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-Medium.eot");
	src: local("Geometria Medium"), local("Geometria-Medium"), url("./font/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-Medium.woff2") format("woff2"), url("./font/Geometria-Medium.woff") format("woff"), url("./font/Geometria-Medium.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-Light.eot");
	src: local("Geometria Light"), local("Geometria-Light"), url("./font/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-Light.woff2") format("woff2"), url("./font/Geometria-Light.woff") format("woff"), url("./font/Geometria-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-HeavyItalic.eot");
	src: local("Geometria Heavy Italic"), local("Geometria-HeavyItalic"), url("./font/Geometria-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-HeavyItalic.woff2") format("woff2"), url("./font/Geometria-HeavyItalic.woff") format("woff"), url("./font/Geometria-HeavyItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-BoldItalic.eot");
	src: local("Geometria Bold Italic"), local("Geometria-BoldItalic"), url("./font/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-BoldItalic.woff2") format("woff2"), url("./font/Geometria-BoldItalic.woff") format("woff"), url("./font/Geometria-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-Bold.eot");
	src: local("Geometria Bold"), local("Geometria-Bold"), url("./font/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-Bold.woff2") format("woff2"), url("./font/Geometria-Bold.woff") format("woff"), url("./font/Geometria-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-LightItalic.eot");
	src: local("Geometria Light Italic"), local("Geometria-LightItalic"), url("./font/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-LightItalic.woff2") format("woff2"), url("./font/Geometria-LightItalic.woff") format("woff"), url("./font/Geometria-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-ExtraBold.eot");
	src: local("Geometria ExtraBold"), local("Geometria-ExtraBold"), url("./font/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-ExtraBold.woff2") format("woff2"), url("./font/Geometria-ExtraBold.woff") format("woff"), url("./font/Geometria-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-MediumItalic.eot");
	src: local("Geometria Medium Italic"), local("Geometria-MediumItalic"), url("./font/Geometria-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-MediumItalic.woff2") format("woff2"), url("./font/Geometria-MediumItalic.woff") format("woff"), url("./font/Geometria-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-ExtraLight.eot");
	src: local("Geometria ExtraLight"), local("Geometria-ExtraLight"), url("./font/Geometria-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-ExtraLight.woff2") format("woff2"), url("./font/Geometria-ExtraLight.woff") format("woff"), url("./font/Geometria-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-Heavy.eot");
	src: local("Geometria Heavy"), local("Geometria-Heavy"), url("./font/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-Heavy.woff2") format("woff2"), url("./font/Geometria-Heavy.woff") format("woff"), url("./font/Geometria-Heavy.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-ThinItalic.eot");
	src: local("Geometria Thin Italic"), local("Geometria-ThinItalic"), url("./font/Geometria-ThinItalic.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-ThinItalic.woff2") format("woff2"), url("./font/Geometria-ThinItalic.woff") format("woff"), url("./font/Geometria-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Geometria";
	src: url("./font/Geometria-Thin.eot");
	src: local("Geometria Thin"), local("Geometria-Thin"), url("./font/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("./font/Geometria-Thin.woff2") format("woff2"), url("./font/Geometria-Thin.woff") format("woff"), url("./font/Geometria-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

header {
}

.main-nav {
}

.breadcrumbs {
}

.main-screen-service {
	position: relative;
	background: #28b7c6;
	overflow: hidden;
}

.main-screen-service .header-top-bgr {
	background: rgba(255, 255, 255, 0.15);
}

.main-screen-service .search-inp[type="text"] {
	background: rgba(255, 255, 255, 0.15);
	color: #fff;
}

.main-screen-service .search button:before {
	color: #fff;
}

.main-screen-service .header-bottom-email:before {
	color: #fff;
}

.main-screen-service .search-inp[type="text"]::placeholder {
	color: #fff;
}

.main-screen-service .logo-info {
	color: #fff;
}

.main-screen-service .header-bottom-email a {
	color: #fff;
}

.main-screen-service .header-bottom-phone a {
	color: #fff;
}

.main-screen-service .work-hours {
	color: #fff;
}

.main-screen-service .logo-img img {
	filter: grayscale(1) brightness(10);
}

.main-screen-service .navigation li a {
	color: #fff;
}

.main-screen-service .breadcrumbs {
	color: #fff;
}

.main-screen-service .breadcrumbs a {
	color: #fff;
}

.main-screen-service .breadcrumbs i {
	color: #fff;
}

.main-screen-service .breadcrumbs i.brdcr-active {
	color: #fff;
}

.main-screen-service .breadcrumbs a:hover {
	color: #e20516;
}

.main-screen-service .main-nav_catalog {
	box-shadow: none;
}

.main-screen-service .search button {
	background: none;
}

.main-screen-service .header-top-nav ul li a {
	color: rgba(255, 255, 255, 0.6);
}

.sect-service {
	position: relative;
	z-index: 10;
}

.sect-service__wrap {
	padding: 30px 0 170px 0;
}

.sect-service__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.sect-service__column {
}

.sect-service__column:nth-child(1) {
	flex-basis: 200px;
	flex-shrink: 0;
}

.sect-service__column:nth-child(2) {
	flex-grow: 1;
	padding-top: 35px;
	margin: 0 20px 0px 20px;
}

.sect-service__column:nth-child(3) {
	flex-basis: 240px;
	flex-shrink: 0;
	text-align: right;
}

.sect-service__column:nth-child(3) .sect-service__btn {
	margin-left: auto;
}

.sect-service__subtext {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
	line-height: 120%;
	color: #ffffff;
}

.sect-service__btn {
	display: block;
	padding: 10px 20px;
	max-width: 200px;
}

.sect-service__title {
	font-family: "Roboto";
	font-weight: 900;
	font-size: 48px;
	line-height: 130%;
	text-align: center;
	color: #ffffff;
}

.sect-service__group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sect-service__text {
	margin-right: 30px;
	font-family: "Geometria";
	font-size: 14px;
	line-height: 120%;
	color: #ffffff;
	transition: all 0.3s ease;
}

.sect-service__group.scroll .sect-service__text {
	color: #000;
}

.sect-service__group.scroll .sect-service__link {
	color: #000;
}

.sect-service__text ul {
	list-style: inside;
}

.sect-service__text ul li:not(:last-child) {
	margin-bottom: 10px;
}

.sect-service__link {
	position: relative;
	padding-right: 45px;
	font-family: "Geometria";
	font-size: 16px;
	line-height: 120%;
	white-space: nowrap;
	color: #ffffff;
}

.sect-service__link span {
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
}

.sect-service__link svg {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	width: 37px;
	height: 8px;
	background: url("./img/icon-link-arrow.png") no-repeat center / contain;
	transition: all 0.3s ease;
}

.sect-service__link:hover svg {
	transform: translate(10px, -50%);
}

.sect-service__link:hover span {
	border-color: #fff;
}

.service-advantages {
	position: relative;
	z-index: 10;
}

.service-advantages::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	background: #fff;
}

.service-advantages__wrap {
	padding: 30px 0 90px 0;
}

.service-advantages__list {
	display: flex;
	justify-content: space-between;
}

.service-advantages__item {
}

.card-service {
	position: relative;
	padding: 25px 0 0 25px;
}

.card-service::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	height: 100px;
	border: 10px solid #28b7c6;
	z-index: 1;
}

.card-service__group {
	position: relative;
	padding-left: 10px;
	background: #fff;
	z-index: 2;
}

.card-service__number {
	margin-bottom: 10px;
	font-family: "Roboto";
	font-weight: 900;
	font-size: 56px;
	line-height: 120%;
	color: #005a67;
	text-shadow: 0px 4px 8px rgba(0, 90, 103, 0.3);
}

.card-service:nth-child(2n + 2) .card-service__number {
	color: #e20516;
}

.card-service__text {
	max-width: 150px;
	font-family: "Geometria";
	font-size: 14px;
	line-height: 120%;
	color: #263238;
}

.scrollDist {
	position: absolute;
	top: 0;
	pointer-events: none;
}

.anim-bg {
	overflow: hidden;
	pointer-events: none;
}

.anim-bg__mountain.--one {
	position: absolute;
	left: 0;
	bottom: 200px;
	z-index: 3;
	pointer-events: none;
}

.anim-bg__mountain.--two {
	position: absolute;
	right: 10%;
	bottom: 200px;
	z-index: 1;
	pointer-events: none;
}

.anim-bg__mountain.--three {
	position: absolute;
	right: 0;
	bottom: 200px;
	z-index: 2;
	pointer-events: none;
}

.anim-bg__coud.--one {
	position: absolute;
	width: 100%;
	bottom: -0px;
	z-index: 4;
	pointer-events: none;
	/* animation: animCloud 30s infinite linear; */
}

.anim-bg__coud.--one::before {
	content: "";
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
	height: 70px;
	background: #fff;
}

.anim-bg__coud.--one img {
	min-width: 100%;
}

.anim-bg__coud.--two {
	position: absolute;
	bottom: -50px;
	z-index: 2;
	animation: animCloud 60s infinite linear;
	pointer-events: none;
}

.anim-bg__coud.--three {
	position: absolute;
	bottom: -50px;
	z-index: 2;
	animation: animCloud2 60s infinite linear;
	pointer-events: none;
}

@keyframes animCloud {
	from {
		/* left: 0; */
		transform: translateX(0%);
	}
	to {
		/* left: -100%; */
		transform: translateX(-100%);
	}
}

@keyframes animCloud2 {
	from {
		/* left: 100%; */
		transform: translateX(100%);
	}
	to {
		/* left: 0; */
		transform: translateX(0%);
	}
}

.main-screen-service__image-bg-mobile {
	pointer-events: none;
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-screen-service__image-mobile {
	pointer-events: none;
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}

.main-screen-service__image-mobile.--one {
	position: absolute;
	bottom: 23%;
	left: 0;
	width: 100%;
	z-index: 2;
}

.main-screen-service__image-mobile.--two {
	position: absolute;
	left: 0;
	bottom: 30%;
	width: 100%;
	z-index: 1;
}

.main-screen-service__image-mobile.--three {
	position: absolute;
	left: 0;
	bottom: 30%;
	width: 100%;
	z-index: 1;
}

@media (max-width: 1400px) {
	.anim-bg__mountain.--one {
		left: -10%;
	}

	.anim-bg__mountain.--two {
		right: 0%;
	}

	.anim-bg__mountain.--three {
		right: -10%;
	}
}

@media (max-width: 1170px) {
	.sect-service__text {
		color: #fff !important;
	}

	.sect-service__link {
		color: #fff !important;
	}

	.sect-service__link svg path {
		fill: #fff !important;
	}

	.main-screen-service .main-nav_catalog {
		background: #fff;
	}

	.main-screen-service .navigation li a {
		color: #263238;
	}

	header {
		background: #fff;
	}

	.main-screen-service .header-top-bgr {
		background: #f3f5f6;
	}

	.main-screen-service .search-inp[type="text"] {
		background: #e9edef;
		color: #000;
	}

	.main-screen-service .search button:before {
		color: #bebebe;
	}

	.main-screen-service .header-bottom-email:before {
		color: #008795;
	}

	.main-screen-service .search-inp[type="text"]::placeholder {
		color: #263238;
	}

	.main-screen-service .logo-info {
		color: #000;
	}

	.main-screen-service .header-bottom-email a {
		color: #263238;
	}

	.main-screen-service .header-bottom-phone a {
		color: #263238;
	}

	.main-screen-service .work-hours {
		color: #b0bec5;
	}

	.main-screen-service .logo-img img {
		filter: none;
	}

	.main-screen-service .navigation li a {
		color: #263238;
	}

	.main-screen-service .breadcrumbs {
		color: #263238;
	}

	.main-screen-service .breadcrumbs a {
		color: #263238;
	}

	.main-screen-service .main-nav_catalog {
		box-shadow: 0px 8px 20px rgba(38, 50, 56, 0.1), 0px 4px 10px rgba(38, 50, 56, 0.05);
	}

	.main-screen-service .search button {
		background: #e9edef;
	}

	.main-screen-service .header-top-nav ul li a {
		color: rgba(255, 255, 255, 0.6);
	}

	.main-screen-service .breadcrumbs {
		display: none;
	}

	.main-screen-service__image-bg-mobile {
		display: block;
	}

	.anim-bg {
		display: none;
	}

	.sect-service__wrap {
		padding: 30px 0 150px 0 !important;
	}

	.sect-service__title {
		font-size: 32px;
	}

	.service-advantages__wrap {
		padding: 30px 0 30px 0;
	}

	.service-advantages__list {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.service-advantages__item {
		flex: 0 1 calc(100% / 3);
		margin-bottom: 30px;
	}
}

@media (max-width: 900px) {
	.sect-service__row {
		flex-wrap: wrap;
	}

	.sect-service__column:nth-child(1) {
		display: flex;
		flex-direction: column;
		flex-basis: initial;
		text-align: center;
		margin-right: 10px;
		width: calc(50% - 10px);
		order: 1;
	}

	.sect-service__column:nth-child(2) {
		padding-top: 0px;
		margin-top: 30px;
		width: 100%;
		order: 3;
	}

	.sect-service__column:nth-child(3) {
		display: flex;
		flex-direction: column;
		flex-basis: initial;
		text-align: center;
		margin-left: 10px;
		width: calc(50% - 10px);
		order: 2;
	}

	.sect-service__subtext {
		flex-grow: 1;
		max-width: 300px;
		margin: 0 auto 15px auto;
	}

	.sect-service__column:nth-child(1) .sect-service__btn {
		margin: 0 auto;
		width: 100%;
	}

	.sect-service__column:nth-child(3) .sect-service__btn {
		margin: 0 auto;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.sect-service__group {
		flex-direction: column;
		align-items: flex-start;
	}

	.sect-service__text {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.service-advantages__item {
		flex: 0 1 calc(100% / 2);
	}

	.main-screen-service__image-mobile.--one {
		bottom: 30%;
	}

	.main-screen-service__image-mobile.--two {
		bottom: 34%;
	}

	.main-screen-service__image-mobile.--three {
		bottom: 37%;
	}
}

@media (max-width: 500px) {
	.card-service {
		padding: 30px 0 0 15px;
	}

	.card-service__number {
		font-size: 45px;
	}

	.card-service__text {
		font-size: 12px;
	}

	.sect-service__row {
		margin-bottom: 30px;
	}

	.sect-service__title {
		font-size: 26px;
	}

	.sect-service__subtext {
		font-size: 12px;
	}

	.sect-service__btn.btn {
		font-size: 12px;
		padding: 10px;
	}

	.main-screen-service__image-mobile.--one {
		max-width: initial;
		width: 200vw;
		left: -40%;
		bottom: 25%;
	}

	.main-screen-service__image-mobile.--two {
		width: 300vw;
		max-width: initial;
		left: 50%;
		bottom: 28%;
		transform: translate(-50%, 0);
	}

	.main-screen-service__image-mobile.--three {
		bottom: 30%;
	}
}
