

/* Start:/local/templates/wesma-r507/components/bitrix/menu/left-menu-services/style.min.css?1643194714490*/
ul.left-menu{list-style:none;margin:0;padding:0;margin-bottom:8px;position:relative}ul.left-menu li{padding:10px 16px;background:#f5f5f5 url(/local/templates/wesma-r507/components/bitrix/menu/left-menu-services/images/left_menu_bg.gif) top repeat-x}ul.left-menu li a{font-size:100%;color:#bc262c;font-weight:bold;text-decoration:none}ul.left-menu li a:visited{color:#bc262c}ul.left-menu li a:hover{color:#bc262c}ul.left-menu li a.selected:link,ul.left-menu li a.selected:visited,ul.left-menu li a.selected:active,ul.left-menu li a.selected:hover{color:#fc8d3d}
/* End */


/* Start:/local/templates/wesma-r507/components/bitrix/news/services-news/bitrix/news.list/tegs/style.css?1643194845150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/wesma-r507/components/bitrix/form.result.new/r507-form/style.css?1643194703666*/
table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(/local/templates/wesma-r507/components/bitrix/form.result.new/r507-form/images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(/local/templates/wesma-r507/components/bitrix/form.result.new/r507-form/images/icon_warn.gif);
}
/* End */


/* Start:/local/templates/wesma-r507/components/bitrix/news/services-news/bitrix/news.list/.default/style.css?1643194838150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/wesma-r507/components/bitrix/news/services-news/bitrix/news.list/news-table/style.css?1643194841150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/wesma-r507/components/bitrix/menu/left-menu-services/style.min.css?1643194714490 */
/* /local/templates/wesma-r507/components/bitrix/news/services-news/bitrix/news.list/tegs/style.css?1643194845150 */
/* /local/templates/wesma-r507/components/bitrix/form.result.new/r507-form/style.css?1643194703666 */
/* /local/templates/wesma-r507/components/bitrix/news/services-news/bitrix/news.list/.default/style.css?1643194838150 */
/* /local/templates/wesma-r507/components/bitrix/news/services-news/bitrix/news.list/news-table/style.css?1643194841150 */
